<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">    
      <h2 class="titulo-menu">Menu de Opções</h2>    
      <mat-list>
        <mat-list-item>
            <mat-icon matListItemIcon>content_paste_go</mat-icon> 
            <div matListItemTitle>
                <a routerLink="/dashboard/estoque">Estoque</a>
            </div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListItemIcon>hub</mat-icon> 
            <div matListItemTitle>
                <a routerLink="/dashboard/estoque">Fornecedores</a>
            </div>
        </mat-list-item>
       </mat-list>     
    </mat-drawer>
    <mat-drawer-content>
        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>               
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>