<header class="app-header">
  <div class="container" [class.mobile]="mobileQuery.matches">
    <mat-toolbar>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    <span>Gestão de Estoque</span>
    <span class="spacer"></span>
    <span>Marco Junior</span>  
    <button mat-fab color="accent" color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>Cadastro</span>
      </button>      
      <button mat-menu-item routerLink="/login" >
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
  [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard/home/page">
    <mat-icon>home</mat-icon>
      Home
    </a>
    <a mat-list-item routerLink="/dashboard/estoque/listar">
      <mat-icon>file_open</mat-icon>
      Estoque
    </a>
    <a mat-list-item routerLink="/dashboard/fornecedor/listar" >
      <mat-icon>emoji_people</mat-icon>
      Fornecedores
    </a>
    <a mat-list-item routerLink="/dashboard/preco/lista" >
      <mat-icon>price_check</mat-icon>
      Preços
    </a>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
 <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
</div>
</header>
