.modal {
    .titulo{
      text-align: center;
      font-size: 25px;
      padding:0 ; 
      background-color: lightyellow
    }

    .mensagem{
      text-align: center;
      color: black;
    }
  }
  
  