<div class="container">
    <div class="titulo">        
        <h1>Produtos do Estoque</h1>
    </div>

    <mat-form-field class="example-full-width" appearance="outline" color="accent">
        <mat-label>Filtro de Produtos</mat-label>
        <mat-icon matPrefix>
                search
        </mat-icon>
        <input matInput (keyup)="Filtrar($event)" placeholder="Digite informações de seu produto" #input>
      </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="box-shadow: 2px 2px lightblue;">
        <ng-container matColumnDef="Codigo">
          <th mat-header-cell *matHeaderCellDef style="background-color: beige;">Codigo</th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef style="background-color: beige;"> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>
      
        <ng-container matColumnDef="Quantidade" >
          <th mat-header-cell *matHeaderCellDef style="background-color: beige;"> Quantidade </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Compra">
          <th mat-header-cell *matHeaderCellDef  style="text-align: right;background-color: beige;"> Compra </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;">R$ {{element.compra}}</td>
        </ng-container>    

        <ng-container matColumnDef="Ação">
            <th mat-header-cell *matHeaderCellDef  style="text-align: right;padding-right: 50px;background-color: beige;">Ação</th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">
                    <button mat-mini-fab color="accent" style="margin: 0 5px;" 
                    
                    (click)="Editar(element.codigo)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    <button mat-mini-fab color="warn" style="margin: 0 5px;">
                      <mat-icon>delete</mat-icon>
                    </button>              
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr 
        mat-row 
        *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div class="paginacao">
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" >
        </mat-paginator>
      </div>

      <div class="card-incluir">
        <mat-card>
            <mat-card-content>                
                <button mat-mini-fab color="primary" style="margin-right: 15px;" routerLink="/dashboard/cadastro-produto">
                    <mat-icon>add</mat-icon>
                  </button>     
            </mat-card-content>
          </mat-card>
        </div>
    </div>