<mat-card class="card-depoimento">
    <mat-card-header>      
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        <mat-card-content>
            <p class="informacao">A Jornada foi uma das melhores agências de viagens que eu já experimentei. O serviço ao cliente foi excepcional, e toda a equipe foi muito atenciosa e prestativa.</p>
            <p class="assinatura">Lauro Matos</p>
        </mat-card-content>    
    </mat-card-header>
  </mat-card>
  