.card {
    max-width: 400px;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    box-shadow: 4px 5px lightblue;
    border: solid gray 1px;
  }

  mat-form-field{
    width: 100%;
  }

  mat-card-header{
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .example-form-fields {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }