footer{
     
   padding:30px 30px;
   background-color: black;
   color:white;
   max-width: 100%;

}

.coluna-50{
   width: 50%;
   display: inline-block;
}

.redes{
   text-align: right;
}

.linha{
   padding: 0 256px;
   min-width: 40%;
}