<footer> 
    <div class="linha">
        <div class="coluna-50">
            <img src="assets/imagens/logo.png" alt="Logo da aplicação jornada">
            <p>Horário de Atendimento: 08h -20h (Segunda a Sábado)</p>
            <p>Desenvolvido por Alura. Projeto ficticio sem fins comerciais</p>
        </div>
        <div class="coluna-50 redes">
            <p>Acesse nossas redes:</p>
            <img src="assets/icones/whatsapp.png" alt="Icone do whatsapp">
            <img src="assets/icones/instagram.png" alt="">
            <img src="assets/icones/twitter.png" alt="">
        </div>
    </div>
</footer>
